services: 

  REVERSE_PROXY:
    title: "Reverse Proxy NGINX"
    description: "Point d'entrée de l'application : Gère le HTTPS, et la redirection vers l'API ou le frontend."
    docker_image: "noeuil/transcribe-ai-reverse-proxy:1.0.0"
    order: 3

    vars:

      SERVER_NAME:
        required: true
        mode: managed
        title: "FQDN"
        description: "Cette variable correspond au nom de domaine que vous souhaitez utiliser pour accéder à l'application."
        example: "transcribe.company.local"
        default: "localhost"
        var_type: string
        validators:
          - name: no_scheme
        order: 1

      NGINX_MAX_BODY_SIZE:
        required: true
        mode: managed
        title: "Taille maximale des fichiers audio"
        description: "Cette variable correspond à la taille maximale des fichiers audio que le reverse proxy peut accepter."
        example: "50M"
        default: "200M"
        var_type: string
        order: 2

      SSL_CERT_NAME:
        required: true
        mode: managed
        title: "Nom du fichier du certificat"
        description: "Cette variable correspond au nom du fichier du certificat SSL que le reverse proxy utilisera pour sécuriser les connexions HTTPS."
        example: "cert.pem"
        default: "cert.pem"
        var_type: string
        validators:
          - name: extension_in
            params: { allowed: [".crt", ".pem"] }
          - name: file_exists
            params: { base_path: "docker/volumes/certs" }
        order: 3

      SSL_KEY_NAME:
        required: true
        mode: managed
        title: "Nom du fichier clé privée du certificat"
        description: "Cette variable correspond au nom du fichier clé privée du certificat SSL que le reverse proxy utilisera pour sécuriser les connexions HTTPS."  
        example: "key.pem"
        default: "key.pem"
        var_type: string
        validators:
          - name: extension_in
            params: { allowed: [".key", ".pem"] }
          - name: file_exists
            params: { base_path: "docker/volumes/certs" }
        order: 4

  FRONTEND:
    title: "Frontend React"
    description: "Interface utilisateur de l'application : Permet aux utilisateurs d'interagir avec les fonctionnalités de transcription et de gestion des fichiers"  
    docker_image: "noeuil/transcribe-ai-frontend:1.0.0"
    order: 1

    vars:

      FRONTEND_MAX_AUDIO_SIZE_BATCH:
        required: true
        mode: managed
        title: "Taille maximale des fichiers audio pour le traitement Mono-voix"
        description: "Cette variable correspond à la taille maximale des fichiers audio que l'utilisateur pourra déposer sur le mode Mono voix."
        example: "200"
        default: "200"
        var_type: int
        validators:
          - name: int_range
            params: { min: 1, max: 2048 }
        order: 2

      FRONTEND_MAX_TIME_PROCESSING_BATCH:
        required: true
        mode: managed
        title: "Temps maximum de traitement pour le Mono-voix (en mins)"
        description: "Cette variable correspond au temps maximale de traitement que le frontend considérera pour le mode Mono voix. Si le temps de traitement dépasse cette valeur, le frontend considérera que le traitement a échoué et affichera un message d'erreur à l'utilisateur."
        example: "10"
        default: "20"
        var_type: int
        validators:
          - name: as_int
          - name: int_range
            params: { min: 1, max: 30 }
          - name: convert_minutes_to_ms
        order: 3

      FRONTEND_TIME_BETWEEN_EACH_POLLING_BATCH:
        required: true
        mode: managed
        title: "Temps entre chaque polling pour le Mono-voix (en seconds)"
        description: "Cette variable correspond au temps entre chaque polling que le frontend effectuera pour vérifier l'état d'avancement du traitement en mode Mono voix."
        example: "3"
        default: "3"
        var_type: int
        validators:
          - name: int_range
            params: { min: 1, max: 60 }
        order: 4

      FRONTEND_MAX_AUDIO_SIZE_DIARIZATION:
        required: true
        mode: managed
        title: "Taille maximale des fichiers audio pour le traitement Multi-voix (en MB)"
        description: "Cette variable correspond à la taille maximale des fichiers audio que l'utilisateur pourra déposer sur le mode Multi-voix."
        example: "100"
        default: "100"
        var_type: int
        validators:
          - name: int_range
            params: { min: 1, max: 2048 }
        order: 5

      FRONTEND_MAX_TIME_PROCESSING_DIARIZATION:
        required: true
        mode: managed
        title: "Temps maximum de traitement pour le traitement Multi-voix (en mins)"
        description: "Cette variable correspond au temps maximale de traitement que le frontend considérera pour le mode Multi-voix. Si le temps de traitement dépasse cette valeur, le frontend considérera que le traitement a échoué et affichera un message d'erreur à l'utilisateur."
        example: "20"
        default: "20"
        var_type: int
        validators:
          - name: as_int
          - name: int_range
            params: { min: 1, max: 30 }
          - name: convert_minutes_to_ms
        order: 6

      FRONTEND_TIME_BETWEEN_EACH_POLLING_DIARIZATION:
        required: true
        mode: managed
        title: "Temps entre chaque polling pour le mode Multi-voix (en seconds)"
        description: "Cette variable correspond au temps entre chaque polling que le frontend effectuera pour vérifier l'état d'avancement du traitement en mode Multi-voix (Diarization)."
        example: "3"
        default: "3"
        var_type: int
        validators:
          - name: int_range
            params: { min: 1, max: 60 }
        order: 7

      FRONTEND_MAX_SPEAKERS_DIARIZATION:
        required: true
        mode: managed
        title: "Nombre maximum de locuteurs pour le mode Multi-voix (Diarization)"
        description: "Cette variable correspond au nombre maximum de locuteurs que le frontend pourra gérer pour le mode Multi-voix (Diarization)."
        example: "20"
        default: "20"
        var_type: int
        validators:
          - name: int_range
            params: { min: 2, max: 100 }
        order: 8

  POSTGRES:
    title: "Base de données PostgreSQL"
    description: "Stockage des données de l'application : Gère les transcriptions ."
    docker_image: "postgres:latest"
    order: 2

    vars:

      DB_USER:
        required: true
        mode: managed
        title: "Utilisateur de la base de données PostgreSQL"
        description: "Cette variable correspond au nom d'utilisateur que PostgreSQL utilisera pour l'authentification."
        example: "transcribe_user"
        default: "transcribe_user"
        var_type: string
        validators:
          - name: min_length
            params: { min: 3 }
        order: 1

      DB_PASSWORD:
        required: true
        mode: managed
        title: "Mot de passe de la base de données PostgreSQL"
        description: "Cette variable correspond au mot de passe que PostgreSQL utilisera pour l'authentification."
        example: "secure_password_123"
        default: "secure_password_123"
        var_type: string
        validators:
          - name: min_length
            params: { min: 8 }
        order: 2

      DB_NAME:
        required: true
        mode: managed
        title: "Nom de la base de données PostgreSQL"
        description: "Cette variable correspond au nom de la base de données que PostgreSQL créera et utilisera pour stocker les données de l'application."
        example: "transcribe_db"
        default: "transcribe_db"
        var_type: string
        validators:
          - name: min_length
            params: { min: 3 }
        order: 3
      
      DB_HOST:
        required: true
        mode: managed
        title: "Hôte de la base de données PostgreSQL"
        description: "Cette variable correspond à l'hôte que l'API utilisera pour se connecter à PostgreSQL"
        example: "postgres-db"
        default: "postgres-db"
        var_type: string
        order: 4

      DB_PORT:
        required: true
        mode: managed
        title: "Port de la base de données PostgreSQL"
        description: "Cette variable correspond au port que l'API utilisera pour se connecter à PostgreSQL"
        example: "5432"
        default: "5432"
        var_type: int
        validators:
          - name: int_range
            params: { min: 1, max: 65535 }
        order: 5

      LOCAL_POSTGRES_STORAGE_PATH:
        required: true
        mode: managed
        title: "Chemin local de stockage des données PostgreSQL"
        description: "Cette variable correspond au chemin local sur l'hôte que vous souhaitez utiliser pour stocker les données de PostgreSQL. Ce chemin sera monté en volume dans le conteneur PostgreSQL à l'emplacement spécifié par POSTGRES_STORAGE_PATH."
        example: "./volumes/postgres"
        default: "./volumes/postgres"
        var_type: string
        order: 6

      POSTGRES_STORAGE_PATH:
        required: true
        mode: managed
        title: "Chemin de stockage des données PostgreSQL à l'intérieur du conteneur"
        description: "Cette variable correspond au chemin que PostgreSQL utilisera pour stocker les données à l'intérieur du conteneur."
        example: "/var/lib/postgresql"
        default: "/var/lib/postgresql"
        var_type: string
        order: 7

  REDIS:
    title: "Service Redis"
    description: "Gestion d'une file d'attente FIFO pour gérer les tâches de transcription"
    docker_image: "redis:latest"
    order: 4

    vars: 
    
      REDIS_HOST:
        required: true
        mode: managed
        title: "Hôte du service Redis"
        description: "Cette variable correspond à l'hôte que l'API utilisera pour se connecter à Redis"
        example: "redis-queue"
        default: "redis-queue"
        var_type: string
        order: 1

      REDIS_PORT:
        required: true
        mode: managed
        title: "Port du service Redis"
        description: "Cette variable correspond au port que l'API utilisera pour se connecter à Redis"
        example: "6379"
        default: "6379"
        var_type: int
        validators:
          - name: int_range
            params: { min: 1, max: 65535 }
        order: 2

  API:
    title: "API REST Flask"
    description: "Expose des endpoints pour enqueue des tâches de transcription, et pour récupérer les résultats des transcriptions"
    docker_image: "noeuil/transcribe-ai-api:1.0.0"
    order: 5

    vars:

      MAX_AUDIO_SIZE_MB:
        required: true
        mode: managed
        title: "Taille maximale des fichiers audio (en MB)"
        description: "Cette variable correspond à la taille maximale des fichiers audio que l'API acceptera pour le traitement."
        example: "200"
        default: "200"
        var_type: int
        validators:
          - name: int_range
            params: { min: 1, max: 2048 }
        order: 2
  
  MONO_VOICE_STT:
    title: "Service de transcription Mono-voix"
    description: "Ce service utilise un seul modèle pour procéder à la transcription des fichiers audio déposés en mode Mono-voix."
    docker_image: "noeuil/transcribe-ai-mono-voice-stt:1.0.0"
    order: 7

    vars:

      MODEL_NAME_MONO_VOICE:
        required: true
        mode: managed
        title: "Nom du modèle ASR pour le Mono-voix"
        description: "Cette variable correspond au nom du modèle ASR que le service de transcription Mono-voix utilisera pour transcrire les fichiers audio en mode Mono-voix."
        example: "base"
        default: "base"
        var_type: string
        validators:
          - name: model_name_exists
        order: 1

  MULTI_VOICE_WORKER:
    title: "Worker de traitement Multi-voix (Diarization)"
    description: "Ce worker est chargé de traiter les tâches de transcription en mode Multi-voix (Diarization) en appelant le service de transcription Multi-voix."
    docker_image: "noeuil/transcribe-ai-multi-voice-worker:1.0.0"
    order: 9

    vars:
    
      MULTI_VOICE_STT_URL:
        required: true
        mode: managed
        title: "URL du service de transcription Multi-voix"
        description: "Cette variable correspond à l'URL que le worker de traitement Multi-voix utilisera pour appeler le service de transcription Multi-voix."
        example: "http://multi-voice-stt:5001"
        default: "http://multi-voice-stt:5001"
        var_type: string
        validators:
          - name: docker_url
        order: 1

  MONO_VOICE_WORKER:
    title: "Worker de traitement Mono-voix"
    description: "Ce worker est chargé de traiter les tâches de transcription en mode Mono-voix en appelant le service de transcription Mono-voix."
    docker_image: "noeuil/transcribe-ai-mono-voice-worker:1.0.0"
    order: 8

    vars:
    
      MONO_VOICE_STT_URL:
        required: true
        mode: managed
        title: "URL du service de transcription Mono-voix"
        description: "Cette variable correspond à l'URL que le worker de traitement Mono-voix utilisera pour appeler le service de transcription Mono-voix."
        example: "http://mono-voice-stt:5001"
        default: "http://mono-voice-stt:5001"
        var_type: string
        validators:
          - name: docker_url
        order: 1

  MULTI_VOICE_STT:
    title: "Service de transcription Multi-voix (Diarization)"
    description: "Ce service utilise plusieurs modèles afin de procéder à la fois à la diarization et à la transcription des fichiers audio déposés en mode Multi-voix."
    docker_image: "noeuil/transcribe-ai-multi-voice-stt:1.0.0"
    order: 6

    vars:
      ASR_MODEL_PATH:
        required: true
        mode: managed
        title: "Chemin du modèle ASR"
        description: "Cette variable correspond au chemin où le modèle ASR est stocké."
        example: "/models/asr"
        default: "/models/asr"
        var_type: string
        order: 1

      ASR_MODEL_NAME_MULTI_VOICE:
        required: true
        mode: managed
        title: "Nom du modèle ASR"
        description: "Cette variable correspond au nom du modèle ASR utilisé."
        example: "base"
        default: "alalala"
        var_type: string
        validators:
          - name: model_name_exists
        order: 2

      HF_HOME:
        required: true
        mode: managed
        title: "Chemin du cache Hugging Face"
        description: "Cette variable correspond au chemin du cache Hugging Face."
        example: "/cache/hf"
        default: "/cache/hf"
        var_type: string
        order: 3

      TORCH_HOME:
        required: true
        mode: managed
        title: "Chemin du cache Torch"
        description: "Cette variable correspond au chemin du cache Torch."
        example: "/cache/torch"
        default: "/cache/torch"
        var_type: string
        order: 4

      HF_TOKEN:
        required: true
        mode: user
        title: "Token Hugging Face"
        description: "Cette variable correspond au token Hugging Face pour télécharger les modèles depuis Hugging Face."
        example: "hf_token"
        default: "hf_token"
        var_type: string
        order: 5

  GLOBAL:
    title: "Variables globales"
    description: "Variables d'environnement communes à plusieurs services"
    order: 0

    vars:
    
      AUDIO_STORAGE_PATH:
        required: true
        mode: managed
        title: "Chemin de stockage des fichiers audio"
        description: "Cette variable correspond au chemin que l'API et les workers utiliseront pour accéder au fichier audio."
        example: "/app/audio_storage"
        default: "/app/audio_storage"
        var_type: string
        order: 1

      LOCAL_AUDIO_STORAGE_PATH:
        required: true
        mode: managed
        title: "Chemin local de stockage des fichiers audio"
        description: "Cette variable correspond au chemin local sur l'hôte que vous souhaitez utiliser pour stocker les fichiers audio. Ce chemin sera monté en volume dans les conteneurs à l'emplacement spécifié par AUDIO_STORAGE_PATH."
        example: "./volumes/audio_data"
        default: "./volumes/audio_data"
        var_type: string
        order: 2

      LOCAL_MODELS_STORAGE_PATH:
        required: true
        mode: managed
        title: "Chemin local de stockage des modèles de transcription"
        description: "Cette variable correspond au chemin local sur l'hôte que vous souhaitez utiliser pour stocker les modèles de transcription. Ce chemin sera monté en volume dans les conteneurs à l'emplacement spécifié par MODELS_STORAGE_PATH."
        example: "./volumes/models"
        default: "./volumes/models"
        var_type: string
        order: 3

      MODELS_STORAGE_PATH:
        required: true
        mode: managed
        title: "Chemin de stockage des modèles de transcription à l'intérieur des conteneurs"
        description: "Cette variable correspond au chemin que les services de transcription utiliseront pour accéder aux modèles de transcription."
        example: "./volumes/models"
        default: "./volumes/models"
        var_type: string
        order: 2
      
      MODELS_STORAGE_PATH:
        required: true
        mode: managed
        title: "Chemin de stockage des modèles de transcription à l'intérieur des conteneurs"
        description: "Cette variable correspond au chemin que les services de transcription utiliseront pour accéder aux modèles de transcription à l'intérieur des conteneurs."
        example: "/models"
        default: "/models"
        var_type: string
        order: 3  

      API_SECRET_KEY:
        required: true
        mode: managed
        title: "Clé d'authentification"
        description: "Cette variable correspond à la clé secrète que l'API Flask utilisera pour sécuriser les sessions et les tokens d'authentification."
        example: "my_api_secret_key"
        default: "my_api_secret_key"
        var_type: string
        validators:
          - name: min_length
            params: { min: 8 }
        order: 4

      LOCAL_SSL_CERTS_PATH:
        required: true
        mode: managed
        title: "Chemin local des certificats SSL"
        description: "Cette variable correspond au chemin local sur l'hôte où sont stockés les certificats SSL que le reverse proxy utilisera pour sécuriser les connexions HTTPS."
        example: "./volumes/certs"
        default: "./volumes/certs"
        var_type: string
        order: 5